<!DOCTYPE html>
<html>
  <head>
    <title>Gql</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-zinc-50 font-sans dark:bg-zinc-950">
    <div class="relative mx-auto lg:max-w-7xl">
      <%= yield %>
    </div>
  </body>
</html>
